# === Core Framework ===
streamlit
tensorflow
ultralytics

# === Image & CV Processing ===
pillow
opencv-python-headless
numpy
matplotlib

# === Utility & Compatibility ===
pandas
scikit-learn
protobuf
typing-extensions
